<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
    <script defer src="/application.js"></script>
    <title>Document</title>
</head>
<body>

{{#if isLoggedIn}}
    <div class="log">
        <a href="#" class="log_one">my song</a>
        <a href="/ownRandomizer" class="log_one">randomizer</a>
        <div class="log_one"> |</div>
        <a href="/logout" class="log_one">logout</a>
    </div>
{{else}}
    <div class="log">
        <a href="/" class="log_one">randomizer</a>
        <div class="log_one"> |</div>
        <a href="/login" class="log_one">login</a>
        <div class="log_one"> |</div>
        <a href="/registration" class="log_one">registration</a>

    </div>
{{/if}}



<div class="header">
    <H1 class="mainHeader">GENIUS</H1>
</div>



{{{body}}}

</body>
</html>
