<body>
<div class="ribbon"></div>
<div class="login">
    <h1>Let's get started.</h1>
    <form action="/registration" method="POST">
        <div class="input">
            <div class="blockinput">
                <i class="icon-envelope-alt"></i><input type="text" name="name" placeholder="Name">
            </div>
            <div class="blockinput">
                <i class="icon-envelope-alt"></i><input type="text" name="email" placeholder="Email">
            </div>
            <div class="blockinput">
                <i class="icon-unlock"></i><input type="password" name="password" placeholder="Password">
            </div>
        </div>
        <button class="buttonUU" type="submit">Register</button>
    </form>
</div>
</body>
